:root {
  --ynabGreen: #6d9f38;
  --ynabRed: #e26136;
  --ynabBlue: #25384F;
}

.amount-positive {
   color: var(--ynabGreen) !important;
}

.amount-negative {
   color: var(--ynabRed) !important;
}

// Make Bootstrap cards a bit tighter
$spacer: 1rem;
$card-spacer-y: $spacer * 0.5;
$card-spacer-x: $spacer * 0.5;

// Make container widths smaller
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 730px,
  xl: 740px,
  xxl: 750px
);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
